.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.customInput {
  padding: 5px;
  border-radius: 9px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(233, 235, 235);
  transition: 0.3s all ease;
}

.customInput:hover {
  background-color: #fff;
}

.errorMessage{
  color:red
}


